.settings
/supra-main/*.classpath
/supra-main/*.project
/supra-main/target
/supra-main/target/classes/com/supra
/supra-main/target/test-classes/com/supra
*.classpath
.project
/supra-main/supra-web/target/classes/com/supra/servlet/*.class
/supra-main/supra-web/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
/supra-main/supra-web/target/m2e-wtp/web-resources/META-INF/maven/com.supra/supra-web/pom.properties
/supra-main/supra-common/target/classes/META-INF/*.MF
/supra-main/supra-common/target/classes/com/supra/common/*.class
/supra-main/supra-common/target/classes/META-INF/maven/com.supra/supra-common
/supra-main/supra-web/target/m2e-wtp/web-resources/META-INF/maven/com.supra/supra-web
/supra-main/supra-common/target/classes/com/supra/common/implementation
/supra-main/supra-tv/target/classes/META-INF
/supra-main/supra-tv/target/classes/com/supra/dto
/supra-main/supra-tv/target/classes/com/supra/implementation
/supra-main/supra-tv/target/classes/com/supra/model
/supra-main/supra-tv/target/classes/com/supra/service
/supra-main/supra-tv/target/classes/com/supra/soap
